<header class="bg-dark">
    <!-- Image and text -->
    <div >
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark text-light">
            <div class="container-fluid">
                <a class="navbar-brand bg-dark text-light" href="/">
                    <img style="filter:invert(1)" src="/assets/img/android-chrome-512x512.png" alt="Website logo"
                        width="30" height="24" class="d-inline-block align-top border rounded">
                    Sarath's Blog
                </a>
                <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation"
                    class="navbar-toggler bg-dark border-light">
                    <span class="material-icons bg-dark text-light">
                        menu
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="flex-grow-1 navbar-nav">
                        <a class="nav-link bg-dark text-light active" aria-current="page" href="#">Home</a>
                        <a class="nav-link bg-dark text-light" href="#">Programming</a>
                        <a class="nav-link bg-dark text-light" href="#">Architecture</a>
                        <a class="nav-link bg-dark text-light" href="#" >About</a>                        
                    </div>
                </div>

            </div>
        </nav>
    </div>
</header>