<head>
    <title>Software Engineering Club</title>
    
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img//favicon-16x16.png">
    <link rel="manifest" href="/assets/img/site.webmanifest">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="{{ '/assets/css/main.css' | relative_url }}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% feed_meta %}
    {% seo %}

</head>
