<header class="bg-dark">
    <!-- Image and text -->
    <div class="container">
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark text-light">
            <div class="container-fluid">
                <a class="navbar-brand bg-dark text-light" href="#">
                    <img style="filter:invert(1)" src="../assets/img/android-chrome-512x512.png" alt="Website logo"  width="30" height="24"
                        class="d-inline-block align-top border rounded">
                    Sarath's Blog
                </a>
                <button class="navbar-toggler btn-light" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="flex-grow-1 navbar-nav">
                        <a class="nav-link bg-dark text-light active" aria-current="page" href="#">Home</a>
                        <a class="nav-link bg-dark text-light" href="#">Features</a>
                        <a class="nav-link bg-dark text-light" href="#">Pricing</a>
                        <a class="nav-link bg-dark text-light disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        <a href="#" class="ms-auto flex-row-reverse nav-link bg-dark border-dark text-light switch">
                            <span class="material-icons">
                            toggle_off
                            </span>
                        </a>
                          
                    </div>
                </div>
                
            </div>
        </nav>
    </div>
</header>