---
layout: default
---

{% for post in site.posts %}
<div>
    <h3>
        <a href="{{ post.url }}">{{ post.title }}</a>
    </br>
        <small class="text-muted h6">
            {{ post.date | date: "%A, %d %b %Y" }}, 
            {%- include read_time.html -%} min read.
            {% assign author = site.authors | where: 'short_name', post.author | first %}
            {% if author %}
             <a href="{{ author.url }}">{{ author.name }}.</a>
            {% endif %}
        </small>
    </h3>
    
    {{ post.excerpt}}
</div>
{% endfor %}